body{
    background-color: #103761;
    background-image: url("images/drum.png");
}
h1{
    font-size: 90px;
    color: white;
    font-family : cursive;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 150px;
}
.drum{
    font-size: 80px;
    font-weight: bold;
    font-family : cursive;
    width: 130px;
    min-height: 130px;
    margin: 25px;
    border-radius: 4px;
}
.w{
    background-image: url("images/crash.png");
    border: 4px solid #FF0000;
    color: #FF0000;
}
.a{
    background-image: url("images/kick.png");
    border: 4px solid #FF7F00;
    color: #FF7F00;
}
.s{
    background-image: url("images/tom4.png");
    border: 4px solid #FFFF00;
    color: #FFFF00;
}
.d{
    background-image: url("images/tom1.png");
    border: 4px solid #FF0000;
    color: #FF0000;
}
.j{
    background-image: url("images/tom2.png");
    border: 4px solid #00FF00;
    color: #00FF00;
}
.k{
    background-image: url("images/tom3.png");
    border: 4px solid #0000FF;
    color: #0000FF;
}
.l{
    background-image: url("images/snare.png");
    border: 4px solid #8B00FF;
    color: #8B00FF;
}
.clicked{
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

